#myhostname = {{hostname}}.{{domainname}}
mydomain =  {{domainname}}

# only from local
#inet_interfaces = localhost
inet_interfaces = loopback-only

#受け取るべきメールのドメイン
#mydestination = $mydomain
#メールを送るサーバー
mynetworks = 127.0.0.1 [::ffff:127.0.0.0]/104 [::1]/128
relayhost =
